<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (C) 2017 The Android Open Source Project

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.google.android.material.testapp">

  <uses-sdk
    tools:overrideLibrary="androidx.test, android.app, androidx.test.rule, androidx.test.espresso, androidx.test.espresso.idling"/>

  <application
    android:name="androidx.multidex.MultiDexApplication"
    android:supportsRtl="true"
    android:theme="@style/Theme.MaterialComponents.Light">

    <activity
      android:name=".AppBarHorizontalScrollingActivity"
      android:theme="@style/Theme.AppCompat.NoActionBar"/>

    <activity
      android:name=".AppBarLayoutCollapsePinActivity"
      android:theme="@style/Theme.TranslucentStatus"/>

    <activity
      android:name=".AppBarWithScrollbarsActivity"
      android:theme="@style/Theme.AppCompat.Light.DarkActionBar"/>

    <activity android:name="androidx.appcompat.app.AppCompatActivity"/>

    <activity
      android:name=".BottomNavigationViewActivity"
      android:theme="@style/Theme.AppCompat.NoActionBar"/>

    <activity
      android:name=".BottomSheetBehaviorActivity"
      android:theme="@style/Theme.AppCompat.NoActionBar"/>

    <activity
      android:name=".BottomSheetBehaviorWithInsetsActivity"
      android:theme="@style/Theme.AppCompat.NoActionBar"/>

    <activity
      android:name=".BottomSheetDialogActivity"
      android:theme="@style/Theme.AppCompat.NoActionBar"/>

    <activity
      android:name=".CoordinatorLayoutActivity"
      android:theme="@style/Theme.AppCompat.NoActionBar"/>

    <activity
      android:name=".DynamicCoordinatorLayoutActivity"
      android:theme="@style/Theme.TranslucentStatus"/>

    <activity
      android:name=".FloatingActionButtonActivity"
      android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

    <activity
      android:name=".ExpandableTransformationActivity"
      android:theme="@style/Theme.AppCompat.NoActionBar"/>

    <activity
      android:name=".ExposedDropdownMenuActivity"
      android:theme="@style/Theme.MaterialComponents.NoActionBar"
      android:exported="false"/>

    <activity
      android:name=".NavigationViewActivity"
      android:theme="@style/Theme.AppCompat.NoActionBar"/>

    <activity
      android:name=".SnackbarActivity"
      android:theme="@style/Theme.AppCompat.NoActionBar"/>

    <activity
      android:name=".SnackbarWithTranslucentNavBarActivity"
      android:theme="@style/Theme.TranslucentNavBar"/>

    <activity
      android:name=".SnackbarWithFabActivity"
      android:theme="@style/Theme.AppCompat.NoActionBar"/>

    <activity
      android:name=".TabLayoutPoolingActivity"
      android:theme="@style/Theme.AppCompat.NoActionBar"/>

    <activity
      android:name=".TabLayoutWithViewPagerActivity"
      android:theme="@style/Theme.AppCompat.NoActionBar"/>

    <activity
      android:name=".TextInputLayoutActivity"
      android:theme="@style/Theme.MaterialComponents.NoActionBar"/>

    <activity
      android:name=".TextInputLayoutWithIconsActivity"
      android:theme="@style/Theme.MaterialComponents.NoActionBar"
      android:exported="false"/>


  </application>
</manifest>
