<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (C) 2015 The Android Open Source Project

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="android.support.design.test">

    <uses-sdk
            android:minSdkVersion="9"
            android:targetSdkVersion="23"
            tools:overrideLibrary="android.support.test, android.app, android.support.test.rule,
                      android.support.test.espresso, android.support.test.espresso.idling"/>

    <application
            android:supportsRtl="true"
            android:theme="@style/Theme.AppCompat">
        <uses-library android:name="android.test.runner"/>

        <activity
                android:theme="@style/Theme.AppCompat.NoActionBar"
                android:name="android.support.design.widget.TabLayoutWithViewPagerActivity"/>

        <activity
                android:theme="@style/Theme.AppCompat.NoActionBar"
                android:name="android.support.design.widget.SnackbarActivity"/>

        <activity
            android:theme="@style/Theme.TranslucentNavBar"
            android:name="android.support.design.widget.SnackbarActivityWithTranslucentNavBar"/>

        <activity
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:name="android.support.design.widget.SnackbarActivityWithFAB"/>

        <activity
                android:theme="@style/Theme.TranslucentStatus"
                android:name="android.support.design.widget.DynamicCoordinatorLayoutActivity"/>

        <activity
                android:theme="@style/Theme.AppCompat.NoActionBar"
                android:name="android.support.design.widget.TabLayoutPoolingActivity"/>

        <activity
                android:theme="@style/Theme.AppCompat.NoActionBar"
                android:name="android.support.design.widget.BottomSheetBehaviorActivity"/>

        <activity
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:name="android.support.design.widget.BottomSheetBehaviorWithInsetsActivity"/>

        <activity
                android:theme="@style/Theme.AppCompat.NoActionBar"
                android:name="android.support.design.widget.BottomSheetDialogActivity"/>

        <activity
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:name="android.support.design.widget.CoordinatorLayoutActivity"/>

        <activity
                android:name="android.support.design.widget.FloatingActionButtonActivity"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:name="android.support.design.widget.NavigationViewActivity"/>

        <activity
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:name="android.support.design.widget.BottomNavigationViewActivity"/>

        <activity
              android:theme="@style/Theme.AppCompat.NoActionBar"
              android:name="android.support.design.widget.TextInputLayoutActivity"/>

        <activity
                android:name="android.support.v7.app.AppCompatActivity"/>

    </application>

    <instrumentation
            android:name="android.test.InstrumentationTestRunner"
            android:targetPackage="android.support.design.test"/>

</manifest>
